<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>review classification</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}"/>
</head>
<body>
    <h3 align = "center"><font face = "Arial" color = "red" size="6">Result page for summary</font ></h3>
    <hr/>
    <h3><font size="4">Your input:</font></h3>

    <div class="example input"><font size="2">{{ review }}

    <hr/>

        <h3><font size="4">Your input table:</font></h3>
    <table border="1">
            <tr>
                <th>Name</th>
                {% for review_i in review %}
            <td>{{ review_i.split(':')[0]}}</td>
      {% endfor %}
            </tr>
            <tr>
               <th>Value</th>
                 {% for review_i in review %}
            <td>{{ review_i.split(':')[1]}}</td>
      {% endfor %}
            </tr>
        </table>
    </div>

<hr/>
    <h3><font size="4">Prediction:</font></h3>
    <div class="example input"><font size="2">
        The summary is: <strong>{{ probability }}</strong>
<!--         (current status: {{ probability }}).</font> -->
    </div>
<!--    <div>-->
<!--        <form action="/tanks" method="post">-->
<!--            <input type="submit" value="I think the summary is good" name="feedback_btn" />-->
<!--            <input type="submit" value="I think the summary is bad" name="feedback_btn" />-->
<!--            <input type="hidden" value="{{review}}" name="review"/>-->
<!--            <input type="hidden" value="{{Y}}" name="Y"/>-->
<!--        </form>-->
<!--    </div>-->
    <div>
        <form action="/" >
            <input type="submit" value="submit another table" />
        </form>
    </div>
    
<!--     <div class="footer"  id="footer" style="margin-top: 20px; width:100%;">
      <div class="container">
          <font size="1"> 
        Copyright © Xuehai He 2020 
        <p class="last-update">
          Last Updated:
          <script language="JavaScript">
            document.write(document.lastModified);
          </script>
         </p>
         </font>
      </div>
    </div>   -->
</body>
</html>