<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>tanks</title>
</head>
<body>
    <h3>Tank you for your feedback!
    I will try to improve the algorithm based on your submission.</h3>
    <div>
        <form action="/">
            <input type="submit" value="submit another table" />
        </form>
    </div>
    
    <center>This page has been running for<br><span id="htmer_time" style="color: green;"></span>
<script>
function secondToDate(second) {
if (!second) {
return 0;
}
var time = new Array(0, 0, 0, 0, 0);
if (second >= 365 * 24 * 3600) {
time[0] = parseInt(second / (365 * 24 * 3600));
second %= 365 * 24 * 3600;
}
if (second >= 24 * 3600) {
time[1] = parseInt(second / (24 * 3600));
second %= 24 * 3600;
}
if (second >= 3600) {
time[2] = parseInt(second / 3600);
second %= 3600;
}
if (second >= 60) {
time[3] = parseInt(second / 60);
second %= 60;
}
if (second > 0) {
time[4] = second;
}
return time;
}</script><script type="text/javascript" language="javascript">
function setTime() {
var create_time = Math.round(new Date(Date.UTC(2020, 05, 27, 0, 0, 0)).getTime() / 1000);
var timestamp = Math.round((new Date().getTime() + 8 * 60 * 60 * 1000) / 1000);
currentTime = secondToDate((timestamp - create_time));
currentTimeHtml = currentTime[0] + 'Years' + currentTime[1] + 'Days'
+ currentTime[2] + 'Hours' + currentTime[3] + 'Minutes' + currentTime[4]
+ 'Seconds';
document.getElementById("htmer_time").innerHTML = currentTimeHtml;
} setInterval(setTime, 1000);</script>
</center>
</body>
</html>